html, body {
    height: 100%;
    background-color: #fff;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #333;
}

td{
    vertical-align: middle !important;
}

.cover-container {
    max-width: 75em;
}

.masthead {
    margin-bottom: 2rem;
    margin-top: 15px;
}
  
.masthead-brand {
    margin-bottom: 0;
}
  
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(5, 5, 5, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
  
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
  
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
  
.nav-masthead .active {
    color: #333;
    border-bottom-color: #333;
}
  
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

@media (max-width: 425px) {
    .masthead-brand {
        text-align: center;
    }

    img.img-header{
        width: 100% !important;
        height: 100% !important;
    }

    .title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .subtitle{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .subtitle1{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.cover {
    padding: 0 1.5rem;
}
  
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.footer{
    background-color: #343a40;
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

img.img-header{
    width: 65%;
}

i.fas {
    font-size: 30px !important;
}

#btnNoPromov i.fas, #btnPromov i.fas{
    font-size: 15px !important;
    font-weight: 700;
    margin-left: 10px;
}