*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}

.selectbox {
    width: 50%;
    margin: auto;
    position: relative;
}

.select {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
}

.select.active, .select:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    border: 2px solid #213f8f;
}

.select.active:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #213f8f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}

.select i {
    font-size: 30px;
    margin-left: 30px;
    color: #213f8f;
}

.tituloC {
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.descripcion {
    font-size: 18px;
    color: #434343;
}

.opciones {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
}

.opciones.active{
    display: block;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from {
        transform: translateY(-200px) scale(.5);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

.contenido-opcion {
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}

.opciones .contenido-opcion {
    padding: 20px 30px;
}

.contenido-opcion img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.opciones .contenido-opcion:hover {
    background: #213f8f;
}

.opciones .contenido-opcion:hover .tituloC,
.opciones .contenido-opcion:hover .descripcion {
    color: #fff;
}

@media screen and (max-width: 800px){
    .selectbox {
        width: 100%;
    }

    .tituloC {
        font-size: 14px;
    }

    .select {
        padding: 12px;
    }
}