@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('./fonts/roboto-v20-latin-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('./fonts/roboto-v20-latin-700.woff2') format('woff2'),
         url('./fonts/roboto-v20-latin-700.woff') format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background: #E5E5E5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

main{
    max-width: 400px;
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.formulario__imagen{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}

.formulario__imagen img{
    width: 250px;
    height: 250px;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    font-size: 18px;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
    font-weight: bold;
    font-size: 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

    main{
        max-width: 800px;
        width: 100%;
        padding: 40px;
    }

	.formulario__btn {
		width: 100%;
    }
    
    .formulario__imagen img{
        width: 200px;
        height: 200px;
    }
}